[output]
BASE_DIR    :   ./output/
DB_FNAME    :   db.json   
TWEET_FNAME :   tweets.txt

[app]
TWEET_COUNT :   1000

[apiurl]
APP_AUTH    :   https://api.twitter.com/oauth2/token
REQ_TOKEN   :   https://api.twitter.com/oauth/request_token
AUTH_URL    :   https://api.twitter.com/oauth/authorize
ACCESS_TOKEN:   https://api.twitter.com/oauth/access_token

